# This file contains common pin mappings for the 2018 Creality
# Ender 3. To use this config, the firmware should be compiled for the
# AVR atmega1284p.

# Note, a number of Melzi boards are shipped with a bootloader that
# requires the following command to flash the board:
#  avrdude -p atmega1284p -c arduino -b 57600 -P /dev/ttyUSB0 -U out/klipper.elf.hex
# If the above command does not work and "make flash" does not work
# then one may need to flash a bootloader to the board - see the
# Klipper docs/Bootloaders.md file for more information.

# See the example.cfg file for a description of available parameters.

[stepper_x]
step_pin: PD7
dir_pin: !PC5
enable_pin: !PD6
step_distance: .0125
endstop_pin: ^PC2
position_endstop: -2
position_min: -2
position_max: 247
homing_speed: 30

[stepper_y]
step_pin: PC6
dir_pin: !PC7
enable_pin: !PD6
step_distance: .0125
endstop_pin: ^PC3
position_endstop: -13
position_min: -13
position_max: 228
homing_speed: 30

[stepper_z]
step_pin: PB3
dir_pin: PB2
enable_pin: !PA5
step_distance: .0025
endstop_pin: probe:z_virtual_endstop
#position_endstop: 0.0
# Note this can be a bit higher, but put stress on the bowden tube
position_max: 200
position_min: -0.15
homing_retract_dist: 5.0
homing_speed: 5
second_homing_speed: 1

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB1
dir_pin: !PB0
enable_pin: !PD6
step_distance: 0.00978
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PD5
sensor_type: ATC Semitec 104GT-2
sensor_pin: PA7
control: pid
# tuned at 230 degrees
pid_kp = 28.937
pid_ki = 2.097
pid_kd = 99.831
min_temp: 5
max_temp: 285

[heater_bed]
heater_pin: PD4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA6
control: pid
# tuned at 70 degrees
pid_kp = 69.661
pid_ki = 1.580
pid_kd = 768.018
min_temp: 0
max_temp: 130

[fan]
pin: PB4

[mcu]
serial: /dev/ttyUSB0
restart_method: arduino

# BLTouch probe. One may define this section (instead of a probe
# section) to enable a BLTouch probe. A virtual
# "probe:z_virtual_endstop" pin is also created (see the "probe"
# section above for the details).
[bltouch]
sensor_pin: ^PC4
control_pin: PA2
#   Pin connected to the BLTouch control pin. This parameter must be
#   provided.
pin_move_time: 1
x_offset: -48
y_offset: -2
# To calibrate, start by setting the offset higher than it should, 5 mm
# After homing, move the nozzle to the probe position
# Then move down in 0.1mm steps, until it touches a double folded paper (nozzle height is less than 0.2mm (can be done with cold bed)
# The new z-offset is now 5mm - display offset
# At this point I recommend that you have an offset of around 1.2mm. So the probe activates around 1mm below the nozzle
# This will make sure that the probe is as far up as possible when retracted
# Now restart, and try homing, move to the probe position at z0, and verify. Adjust if necessary
# Then do a test print and adjust until the height looks good, substract the displayed offset
# Note: that a negative display value means that the z_offset should be higher
z_offset: 1.33
speed: 1

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3000
max_z_velocity: 15
max_z_accel: 100

[display]
lcd_type: st7920
cs_pin: PA3
sclk_pin: PA1
sid_pin: PC1
encoder_pins: ^PD2, ^PD3
click_pin: ^!PC0

[homing_override]
gcode:
    G1 Z10
    G28 X Y
    # Change this to the highest point of the bed mesh leveling
    G1 X97 Y2 F100000
    # G1 X166 Y120 F6000
    G28 Z
set_position_z: 0.0

# [bed_tilt]
# points:
#     58, 17
#     235, 17
#     235, 215
#     58, 215
# speed: 50
# horizontal_move_z: 5
# samples: 1
# sample_retract_dist: 5.0

[bed_mesh]
speed: 300
#   The speed (in mm/s) of non-probing moves during the
#   calibration. The default is 50.
horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
#mesh_radius:
#   Defines the radius of the mesh to probe for round beds.  Note that the
#   radius is relative to the coordinate specified by the mesh_origin option.
#   This parameter must be provided for round beds and omitted for rectangular
#   beds.
#mesh_origin:
#   Defines the center x,y coordinate of the mesh for round beds.  This
#   coordinate is relative to the probe's location.  It may be useful
#   to adjust the mesh_origin in an effort to maximize the size of the
#   mesh radius.  Default is 0,0.  This parameter must be omitted for
#   rectangular beds.
mesh_min: 0, 0
#   Defines the minimum x,y coodinate of the mesh for rectangular beds.  This
#   coordinate is relative to the probe's location. This will be the first
#   point probed, nearest to the origin. This parameter must be provided for
#   rectangular beds.
mesh_max: 199, 226
#   Defines the maximum x,y coordinate of the mesh for rectangular beds.
#   Adheres to the same principle as mesh_min, however this will be the
#   furthest point probed from the bed's origin. This parameter must be
#   provided for rectangular beds.
probe_count: 5,5
#   For rectangular beds, this is a comma separate pair of integer
#   values (X,Y) defining the number of points to probe along each axis.
#   A single value is also valid, in which case that value will be applied
#   to both axes.  Default is 3,3.
#round_probe_count: 5
#   For round beds, this integer value defines the maximum number of
#   points to probe along each axis. This value must be an odd number.
#   Default is 5.
fade_start: 1.0
#   The gcode z position in which to start phasing out z-adjustment
#   when fade is enabled.  Default is 1.0.
fade_end: 10.0
#   The gcode z position in which phasing out completes.  When set
#   to a value below fade_start, fade is disabled. It should be
#   noted that fade may add unwanted scaling along the z-axis of a
#   print.  If a user wishes to enable fade, a value of 10.0 is
#   recommended. Default is 0.0, which disables fade.
#fade_target:
#   The z position in which fade should converge. When this value is set
#   to a non-zero value it must be within the range of z-values in the mesh.
#   Users that wish to converge to the z homing position should set this to 0.
#   Default is the average z value of the mesh.
split_delta_z: .025
#   The amount of Z difference (in mm) along a move that will
#   trigger a split. Default is .025.
move_check_distance: 5.0
#   The distance (in mm) along a move to check for split_delta_z.
#   This is also the minimum length that a move can be split. Default
#   is 5.0.
mesh_pps: 2,2
#   A comma separated pair of integers (X,Y) defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed
#   point. The user may enter a single value which will be applied
#   to both axes.  Default is 2,2.
algorithm: bicubic
#   The interpolation algorithm to use. May be either "lagrange"
#   or "bicubic". This option will not affect 3x3 grids, which
#   are forced to use lagrange sampling.  Default is lagrange.
bicubic_tension: 0
#   When using the bicubic algorithm the tension parameter above
#   may be applied to change the amount of slope interpolated.
#   Larger numbers will increase the amount of slope, which
#   results in more curvature in the mesh. Default is .2.
#relative_reference_index:
#   A point index in the mesh to reference all z values to. Enabling
#   this parameter produces a mesh relative to the probed z position
#   at the provided index.

[gcode_macro test_repeatability]
gcode:
    G1 Z5
    PROBE
    G1 Z5
    PROBE
    G1 Z5
    PROBE
    G1 Z5
    PROBE
    G1 Z5
    PROBE


[gcode_macro START_PRINT]
gcode:
    M140 S{BED_TEMPERATURE} ; start heating up the bed
    M104 S0 ; Disable extruder heating
    G28 ; Home all axes
    G1 Z50; Move up from the bed
    M190 S{BED_TEMPERATURE} ; set bed temperature and wait for it to be reached
    G28 ; Home all axes
    BED_MESH_CALIBRATE
    G92 E0 ; Reset Extruder
    G1 X0 Y0 Z0.4 F5000 ; Move to the lower left
    M109 S{NOZZLE_TEMPERATURE} ; Wait for the extruder to heat up
    G1 X0 Y0 Z0.4 F5000.0 ; Move to start position
    G1 X0 Y200.0 Z0.4 F1500.0 E15 ; Draw the first line
    G1 X0 Y200.0 Z0.8 F5000.0 ; Move a little up
    G1 X0 Y0 Z0.8 F1500.0 E30 ; Draw the second line
    G92 E0 ; Reset Extruder

[gcode_macro END_PRINT]
gcode:
    M220 S100 ; Reset Speed factor override percentage to default (100%)
    M221 S100 ; Reset Extrude factor override percentage to default (100%)
    G91 ; Set coordinates to relative
    G1 F4800 E-1 ; Retract filament to prevent oozing
    G92 E0 ; Reset Extruder
    G1 F100000 Z0.2 ; Z hop
    G90 ; Set coordinates to absolute
    G1 X0 Y225 F100000 ; Move Heat Bed to the front for easy print removal
    G91 ; Set coordinates to relative
    G1 F100000 Z20 ; Move Z Axis up 20 mm
    M104 S0 ; Disable extruder heater
    M109 S0 ; Disable bed heater
    G90 ; Set coordinates to absolute
    M84 ; Disable stepper motors
    ; End of custom end GCode


# Ignore the M201 (max acceleration set by slic3r)
[gcode_macro M201]
default_parameter_E=0
default_parameter_T=0
default_parameter_X=0
default_parameter_Y=0
default_parameter_Z=0
gcode: ;
